@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 214, 219, 220;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		color: rgb(var(--foreground-rgb));
		background: #fdfaeb;
		font-family: "Poppins", sans-serif;
	}

	@layer utilities {
		.text-balance {
			text-wrap: balance;
		}
		.placeholder-italic::placeholder {
			@apply italic;
		}
	}

	.hero {
		@apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
	}

	.hero__title {
		@apply 2xl:text-[72px] sm:text-[64px] text-[50px] text-charcoal font-extrabold;
	}

	.hero__subtitle {
		@apply text-[27px]  text-ocean font-normal mt-5;
	}

	.hero__image-container {
		@apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
	}

	.hero__image {
		@apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
	}

	.hero__image-overlay {
		@apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
	}

	.padding-x {
		@apply sm:px-16 px-6;
	}
}
